@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;500;900&display=swap');

/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1, h2 {
    display: block;
}

/* main page */

.menu, .gamePage, .resultPage {
    max-width: 1024px;
    margin: 0 auto;
    height: 100vh;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.title .title__main {
    font-weight: 900;
    font-family: 'Noto Sans Mono', monospace;
}

.title .title__sub {
    font-weight: 200;
    font-family: 'Noto Sans Mono', monospace;
}

.modes {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    text-transform: uppercase;
    border-style: none;
    cursor: pointer;
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    font-family: 'Noto Sans Mono', monospace;
    border-radius: 5px;
}

.easy {
    background-color: #008000FF;
}

.easy:hover {
   box-shadow: 0 0 5px #008000FF;
}

.medium {
    background-color: #FFA500FF;
}

.medium:hover {
    box-shadow: 0 0 5px #FFA500FF;
}

.hard {
    background-color: #FF0000FF;
}

.hard:hover {
    box-shadow: 0 0 5px #FF0000FF;
}

/* game Page */

.field {
    margin: 0 auto 30px;
}

.field__body {
    display: grid;
    grid-gap: 5px;
}

.field__item {
    background-color: #000;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: url("../img/hole.png");*/
}

.field__item > img {
    cursor: pointer;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gameHeader {
    display: flex;
    justify-content: space-between;
}

.gameHeader__item, .result__item {
    font-family: 'Noto Sans Mono', monospace;
}

.resultPage, .resBtns {
    align-items: center;
    justify-content: center;
}

.item {
    font-weight: 900;
}
